<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <style type="text.css" href="./style.css"></style>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper #64ffda teal accent-2">
      <%= link_to "お写ん歩 Walking" , root_path, class: "brand-logo" %>
        <% if user_signed_in? %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <%= link_to "マイページ", "#" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> 
            </li>
            <li>
              <%= link_to "投稿する", new_tweet_path, method: :get %>
            </li>
          </ul>
        <% else %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <%= link_to "ログイン", new_user_session_path, method: :get %>
            </li>
            <li>
              <%= link_to "新規登録", new_user_registration_path, method: :get %>
            </li>
          </ul>

        <% end %>
    </div>
  </nav>

   <%= yield %>
</body>
</html>